<app-card>
  <article>
    <h2>{{ task().title }}</h2>
    <time>{{ task().dueDate | date:'fullDate'}}</time>
    <p>{{ task().summary }}</p>

    <p>This task is like {{ temperature() | temperature:'cel':'fah' }} <|> {{ temperature() | temperature:'fah':'cel' }}</p>

    <!-- Sintactic sugar way of the custom estructural directive -->
    <div *appAuth="'fede'">
      <a href="https://angular.dev/" appSafeLink="/tutorials">Link to Angular site!</a>
    </div>

    <p class="actions">
      <button (click)="onCompleteTask()">Complete</button>
    </p>
  </article>
</app-card>

<!-- Real way of the custom estructural directive -->
<!-- <ng-template appAuth="fede">
  <a href="https://angular.dev/" appSafeLink="/tutorials">Link to Angular site!</a>
</ng-template> -->
