<app-card>
  <article>
    <header>
      <h3>{{ task().title }}</h3>
      <p>{{ taskStatus() }}</p>
    </header>

    <time>{{ task().dueDate | date:'fullDate'}}</time>
    <p>{{ task().summary }}</p>

    <p>This task is like {{ temperature() | temperature:'cel':'fah' }} <|> {{ temperature() | temperature:'fah':'cel' }}</p>

    <!-- Sintactic sugar way of the custom estructural directive -->
    <div *appAuth="'fede'">
      <a href="https://angular.dev/" appSafeLink="/tutorials">Link to Angular site!</a>
    </div>

    <div class="form">
      <select #status>
        <option value="open" [selected]="task().status === 'OPEN'">Open</option>
        <option value="in-progress" [selected]="task().status === 'IN_PROGRESS'">
          In-Progress
        </option>
        <option value="done" [selected]="task().status === 'DONE'">
          Completed
        </option>
      </select>
      <p>
        <button class="button" (click)="onChangeTaskStatus(task().id, status.value)">Change Status</button>
      </p>
    </div>

    <p class="actions">
      <button type="button" (click)="onCompleteTask()">Complete</button>
    </p>
  </article>
</app-card>

<!-- Real way of the custom estructural directive -->
<!-- <ng-template appAuth="fede">
  <a href="https://angular.dev/" appSafeLink="/tutorials">Link to Angular site!</a>
</ng-template> -->
