<span class="add-task-form__header">
  <h2 class="add-task-form__title">Add Task</h2>
  <span class="add-task-form__actions">
    <button class="add-task-form__button add-task-form__button--cancel" [routerLink]="['../']" type="button">Cancel</button>
    <button class="add-task-form__button add-task-form__button--submit" type="submit" form="add-task-form">Create</button>
  </span>
</span>

<form id="add-task-form" class="add-task-form" (ngSubmit)="onSubmit()">
  <div class="add-task-form__group">
    <label class="add-task-form__label" for="title">Title</label>
    <input class="add-task-form__control" type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
  </div>
  <div class="add-task-form__group">
    <label class="add-task-form__label" for="summary">Summary</label>
    <textarea class="add-task-form__control" id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary"></textarea>
  </div>
  <div class="add-task-form__group">
    <label class="add-task-form__label" for="due-date">Due Date</label>
    <input class="add-task-form__control" type="date" id="due-date" name="due-date" [(ngModel)]="enteredDate" />
  </div>
</form>
