.tasks-section {
  padding: 1rem;
  border-radius: 8px;
  max-height: 65vh;
  overflow: auto;
  background-color: #2c3354;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    height: 35px;
  }
  &__title {
    margin: 0;
    font-size: 0.9rem;
    width: 60%;
    text-wrap: balance;
  }
  &__filter-select {
    font: inherit;
    padding: 0.5rem;
    border: none;
    background-color: #262521;
    color: #feeaa6;
    border-radius: 0.25rem;
    font-size: 0.9rem;
  }
  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
  }
  &__menu-button {
    font: inherit;
    cursor: pointer;
    background-color: #021235;
    border-radius: 4px;
    border: none;
    padding: 0.35rem 0.8rem;
    font-size: 0.9rem;
    color: antiquewhite;
    margin: 5px;

    &:hover,
    &:active {
      background-color: #3b6fde;
    }
  }
  &__list {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50vh;
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .tasks-section__title {font-size: 1.25rem};
  .tasks-section__menu {width: auto};
}
