.not-found {
  text-align: center;
  padding-top: 5rem;
  height: 46.5rem;
  background-color: #1e1d20;

  &__title {
    font-size: 3rem;
    color: #dc2626;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #cdd5f2;
  }

  &__back-link {
    padding: 0.5rem 1rem;
    background-color: #071474;
    color: #cdd5f2;
    text-decoration: none;
    border-radius: 0.375rem;
    display: inline-block;
  }
}
