<app-places-container title="Your Favorite Places">
  @if (localError()) {
    <p class="fallback-text">{{ localError() }}</p>
  }
  @if (isFetching() && !localError()) {
    <p class="fallback-text">Loading your favorite places, please wait.</p>
  }
  @if (places() && places()!.length > 0) {
    <app-places [places]="places()!" (selectPlace)="onRemovePlace($event)" />
  } @else if (places()!.length === 0 && !isFetching()) {
    <p class="fallback-text">Unfortunately, no places could be found.</p>
  }

</app-places-container>
