@if (error()) {
  <app-error-modal [title]="'Something went wrong'" [message]="error()"></app-error-modal>
}
<div class="mf-angular-19-remote-theme">
  <app-header />
  <div>
    <p id="fallback">Select a lesson to see their tasks:</p>
    <ul id="users">
      @for (lesson of lessons; track lesson.id) {
        <li>
          <app-lesson
            [lesson]="lesson"
            [selected]="lesson.id === selectedLessonId"
            (select)="onSelectLesson($event)" />
        </li>
      }
    </ul>
    <div class="mf-angular-19-remote-theme__lessons-tasks">
      @if (selectedLesson) {
        <router-outlet />
      }
    </div>
  </div>
</div>

