@if (error()) {
  <app-error-modal [title]="'Something went wrong'" [message]="error()"></app-error-modal>
}
<div class="mf-angular-19-remote-theme">
  <app-header></app-header>
  <div>
    <p class="mf-angular-19-remote-theme__fallback">
      Select a lesson to see their tasks, but be aware because you have a 3% chance of a cursed guard blocking your way:
    </p>
    <ul class="mf-angular-19-remote-theme__users">
      @for (lesson of lessons; track lesson.id) {
        <li>
          <app-lesson
            [lesson]="lesson"
            [selected]="lesson.id === selectedLessonId"
            (select)="onSelectLesson($event)">
          </app-lesson>
        </li>
      }
    </ul>
    <div class="mf-angular-19-remote-theme__lessons-tasks">
      @if (selectedLesson) {
        <router-outlet />
      }
    </div>
  </div>
</div>

