<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="login-form__title">Login</h2>

  <div class="login-form__row">
    <div class="login-form__group login-form__group--no-margin">
      <label class="login-form__label" for="email">Email</label>
      <input class="login-form__control" id="email" type="email" formControlName="email" />
    </div>

    <div class="login-form__group login-form__group--no-margin">
      <label class="login-form__label" for="password">Password</label>
      <input class="login-form__control" id="password" type="password" formControlName="password" />
    </div>

    <button class="login-form__button" type="submit">Login</button>
  </div>

  @if (emailIsValid) {
    <p class="login-form__error">Please enter a valid email.</p>
  }
  @if (passwordIsValid) {
    <p class="login-form__error">
      Please enter a valid password, at least 6 characters and a question mark.
    </p>
  }
</form>
