<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()" aria-labelledby="login-title" novalidate>
  <h2 i18n class="login-form__title" id="login-title">Login</h2>

  <div class="login-form__row">
    <div class="login-form__group login-form__group--no-margin">
      <label i18n class="login-form__label" for="email">Email</label>
      <input
        class="login-form__control"
        id="email"
        type="email"
        formControlName="email"
        required
        [attr.aria-describedby]="emailIsValid ? 'email-error' : null"
      />
    </div>

    <div class="login-form__group login-form__group--no-margin">
      <label i18n class="login-form__label" for="password">Password</label>
      <input
        class="login-form__control"
        id="password"
        type="password"
        formControlName="password"
        required
        [attr.aria-describedby]="passwordIsValid ? 'password-error' : null"
      />
    </div>

    <button i18n class="login-form__button" type="submit" [disabled]="form.invalid">Login</button>
  </div>

  <section aria-live="assertive">
    @if (emailIsValid) {
      <p i18n class="login-form__error" id="email-error">Please enter a valid email.</p>
    }
    @if (passwordIsValid) {
      <p i18n class="login-form__error" id="password-error">
        Please enter a valid password, at least 6 characters and a question mark.
      </p>
    }
  </section>
</form>
